[
{lager, [
            %% What handlers to install with what arguments
            {handlers, [
                {lager_console_backend, debug},
                {lager_file_backend, [
                    {"log/error.log", error},
                    {"/tmp/trp.log", debug}
                ]}
            ]},
            %% Whether to write a crash log, and where.
            %% Commented/omitted/undefined means no crash logger.
            {crash_log, "log/crash.log"},
            %% Maximum size in bytes of events in the crash log.
            %% Default is 64kb.
            {crash_log_size, 65536},
            %% Whether to redirect error_logger messages into lager - defaults to true
            {error_logger_redirect, true}
        ]},
        
 %% SASL config
 {sasl, [
         {sasl_error_logger, false}
        ]},
        
 {trp, [
         {mode, {{mode}} },
         
         %% tencent host http listen port
         {https_port, {{https_port}} },
         
         %% tencent host tcp listen port
         {tcps_port, {{tcps_port}} },
         
         %% web server which want get request from inside tencent clound
         {web_server_addr, "{{web_server_addr}}" },
         {web_server_port, {{web_server_port}} },
         
         %% tencent clound host domain
         {domain_name, "{{domain_name}}" } 
       ]}
].

